@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap&family=Roboto:wght@300&display=swap');
/* 
color notes:-
primary-color:- #4eb5ff
#DADADD
#868791
#333647
#252734
#FFAF2A

new bg-color:
bg-primary:- #080c27
primary:- #ec6036
*/
/* ----------- global css ------------ */
:root{
    --bg-primary: #343536;
    --bg-secondary: #212223;
    --main-color: #F9A826;
    --primary-color: #B8BEC1;
    --secondary-color: #85888A;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 80px;
    line-height: 4rem;
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}
h5{
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    line-height: 1.6rem;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin: 1rem 0;
}
h6, p{
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
    letter-spacing: 0.5px;
}
.a-link,.a-link:hover,
.a-link i{
    color: var(--main-color);
    text-decoration: underline;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
label{
    color: var(--secondary-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--bg-primary);
}

/* ----- navbar star+t ------- */

.navbar{
    padding: 0.5rem 12%;
}
.navbar .navbar-brand,
.navbar .navbar-brand:hover{
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    color: var(--main-color);
}
.navbar .navbar-nav .nav-item{
    padding: 0 20px;   
}
.navbar .navbar-nav .nav-item:last-child{
    padding-right: 0;   
}
.navbar .navbar-nav .nav-item .nav-link{
    font-size: 23px;
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}   
.navbar .navbar-nav .nav-item .nav-link.active::after{
    content: '';
    display: block;
    margin: 0 auto;
    height: 4px;
    width: 4px;
    background: var(--main-color);
    border-radius: 25px;
}
.navbar .navbar-nav .nav-item:hover .nav-link::after{
    content: '';
    display: block;
    margin: 0 auto;
    height: 4px;
    width: 4px;
    background: var(--main-color);
    border-radius: 25px;
}

/* ----- navbar end ------- */



/* ------ home section start ------- */
#home{
    height: 100vh;
    width: 100%;
    padding: 0 12%;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 464px 316px;
    justify-content: space-between;
}
#home .h-l-text{
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
}
#home .h-l-text .line{
    margin-top: 10px;
    height: 7px;
    width: 46px;
    background: var(--main-color);
    border-radius: 25px;
}
#home .h-l-text .f-icons{
    display: flex;
    flex-direction: row;
    margin: 4rem 0 0 0;
}
#home .h-l-text .f-icons li{
    list-style: none;
    padding: 0 23px;
}
#home .h-l-text .f-icons li:first-child{
    padding-left: 0;
}
#home .h-l-text .f-icons li a i{
    color: var(--primary-color);
    font-size: 23px;
}
#home img{
    align-self: flex-end;
    max-width: 30rem;
    margin-left: -20%;
    filter: drop-shadow(-20px -10px 40px black);
}
#home .h-r-text{
    width: 18rem;
    margin-left: -2rem;
    padding-top: 7rem;
}
#home .h-r-text a{
    font-weight: bold;
    margin-right: 5px;
}
#home .h-r-text i{
    font-size: 18px;
    color: var(--main-color);
    text-decoration: underline;
}


/* ------ home section end ------- */


/* ------ skills section start ------- */
#skills{
    padding: 4rem 12%;
    height: 75vh;
    width: 100%;
    background: var(--bg-secondary);
}
#skills .skills-upside{
    display: flex;
    justify-content: space-between;
}
#skills .skills-upside .s-l-text{
    width: 260px;
}
#skills .skills-upside .s-bars .progress{
    margin: 0 0 2rem 0;
    height: 10px;
    width: 250px;
    border-radius: 0;
    background: var(--secondary-color);
}
#skills .s-bars .progress .progress-bar{
    background: var(--main-color);
}
/* ------ not end of skills section ------- */

/* ------ hobbies section start ------- */
#hobbies{
    margin-top: -8rem;
    padding: 0 12%;
    display: flex;
    justify-content: space-between;
}
#hobbies div{
    height: 250px;
    width: 250px;
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--bg-primary);
    box-shadow: 0 10px 20px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform-style: preserve-3d;
    transform: perspective(100px);
    transition: .5s;
}
#hobbies div i{
    margin-top: 1rem;
    font-size: 4rem;
    color: var(--primary-color);
    transform-style: preserve-3d;
    transform: translateZ(20px);
    transition: .5s;
}
#hobbies div h5{
    transform-style: preserve-3d;
    transform: translateZ(20px);
    transition: .5s;
}
#hobbies div i,
#hobbies div h5{
    filter: drop-shadow(0px  20px 15px black)
}
#hobbies div:hover i,
#hobbies div:hover h5{
    color: var(--main-color);
}
/* ------ hobbies section end ------- */



/* ------ language icons start ------- */
.l-icons{
    padding: 4rem 12% 0;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.l-icons div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 12%;
}
.l-icons div i{
    color: var(--secondary-color);
    font-size: 4rem
}
/* ------ language icons end ------- */



/* ------ YouTube videos section start ------- */

/* ------ YouTube videos section end ------- */



/* ------ footer section start ------- */
footer{
    height: 22vh;
    background: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
footer ul li{
    list-style: none;
    padding: 0 1rem;
}
footer ul li a,
footer ul li a:hover{
    color: var(--primary-color);
    font-size: 23px;

}
footer div h5{
    font-weight: normal;
}
footer div h5 i,
footer div h5 span{
    color: var(--main-color);
}
footer div h5 span{
    font-size: 20px;
    font-weight: bold;
}
/* ------ footer section end ------- */





/* ----------- media queries --------- */

@media screen and (max-width: 1350px){
    /* -- global responsive ----------- */
    h1{
        font-size: 50px;
        line-height: 2.3rem;
    }
    h5{
        font-size: 1rem;
    }
    label{
        font-size: 1rem;
    }
    /* -- navbar section ---------- */

    .navbar .navbar-brand,
    .navbar .navbar-brand:hover{
        font-size: 30px;
    }
    .navbar .navbar-nav .nav-item .nav-link{
        font-size: 18px;
    }

    /* -- home section ------------ */
    #home{
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
    }
    #home .h-l-text{
        padding: 0;
    }
    #home .h-l-text .f-icons{
        margin-top: 2rem;
    }
    #home .h-l-text .f-icons li{
        padding: 0 1rem;
    }
    #home .h-l-text .f-icons li a i{
        font-size: 18px;
    }
    #home img{
        margin: 0;
        width: 23rem;
        grid-row: 1 / span 2;
        grid-column: 2 / span 2;
    }
    #home .h-r-text{
        margin: -4rem 0 0 0;
        padding: 0;
        grid-row: 2 / span 1;
        grid-column: 1 / 3;
    }
    /* -- skills section ----------- */
    #skills .skills-upside .s-bars .progress{
        margin: 0 0 1.7rem 0;
        height: 8px;
        width: 220px;
    }

    /* -- hobbies section ---------- */
    
    #hobbies{
        margin-top: -7rem;
    }
    #hobbies div{
        height: 220px;
        width: 220px;
    }
    #hobbies div i{
        font-size: 3rem;
    }
    #hobbies div h5{
        font-size: 0.8rem;
    }
    /* -- language section ------------ */

    .l-icons{
        height: 50vh;
        padding-top: 3rem;
    }
    .l-icons div i{
        font-size: 3.2rem;
    }
    /* -- footer section -------------- */

    footer{
        height: 15vh;
    }
    footer ul{
        margin-bottom: -0.8rem;
    }
    footer ul li{
        list-style: none;
        padding: 0 0.5rem;
    }
    footer ul li a i{
        font-size: 1rem;
    }
    footer div h5 span{
        font-size: 1rem;
    }
}



/* ---  910px screen width ------- */
@media screen and (max-width: 910px){
    /* -- global ------------------- */

    h5{
        line-height: 1.5rem;
        letter-spacing: 0.5px;
        margin: 0.4rem 0;
    }
    h6, p{
        line-height: 1.5rem;
        letter-spacing: 0.4px;
    }
    /* -- home section ---------- */
    #home .h-r-text{
        width: 15rem;
    }

    /* -- hobbies section ---------- */

    #hobbies{
        margin-top: -6rem;
    }
    #hobbies div{
        height: 180px;
        width: 180px;
    }
    #hobbies div i{
        font-size: 2.2rem;
    }
    #hobbies div h5{
        font-size: 0.6rem;
    }

    /* -- footer section ---------- */
    footer ul{
        margin-bottom: -0.5rem;
    }
}



/* ---  767px screen width ------- */
@media screen and (max-width: 767px){
    /* -- global -------------- */

    h1{
        font-size: 45px;
        line-height: 2.2rem;
    }

    /* -- navbar section ---------- */
    .navbar .navbar-nav .nav-item{
        padding: 0;   
    }
    .navbar .navbar-nav .nav-item .nav-link{
        font-size: 16px;
    }   
    .navbar .navbar-nav .nav-item .nav-link.active::after{
        margin: 0;
        height: 2px;
        width: 2.6rem;
    }
    .navbar .navbar-nav .nav-item:hover .nav-link::after{
        margin: 0;
        height: 2px;
        width: 2.6rem;
    }
    /* -- home section ---------- */

    #home .h-l-text .f-icons{
        margin-top: 1.9rem;
    }
    /* ------ hobbies section start ------- */
    
    #hobbies{
        margin-top: -6rem;
    }
}

/* ---  425px screen width ------- */
@media screen and (max-width: 425px){
    /* -- global -------------- */

    h1{
        font-size: 33px;
        line-height: 1.7rem;
    }

    /* -- navbar section ---------- */
    .navbar .navbar-brand,
    .navbar .navbar-brand:hover{
        font-size: 20px;
    }
    .navbar .navbar-nav .nav-item{
        padding: 0;   
    }
    .navbar .navbar-nav .nav-item .nav-link{
        font-size: 14px;
    }   
    .navbar .navbar-nav .nav-item .nav-link.active::after{
        margin: 0;
        height: 2px;
        width: 2.3rem;
    }
    .navbar .navbar-nav .nav-item:hover .nav-link::after{
        margin: 0;
        height: 2px;
        width: 2.6rem;
    }
    /* -- home section ---------- */
    
    #home{
        height: auto;
        grid-template-rows: 10rem 10rem 18rem;
        grid-template-columns: 1fr;
        justify-content: unset;
        align-items: unset;
    }
    #home .h-l-text{
        margin-top: 1.5rem;
        grid-row: 1 / 3;
        grid-column: 1 / span 1;
    }
    #home .h-l-text .f-icons{
        margin-top: 1rem;
    }
    #home .h-l-text .f-icons li{
        padding: 0 6px;
    }
    #home .h-l-text .f-icons li a i{
        font-size: 13px;
    }
    #home .h-r-text{
        margin-top: -7rem;
        grid-row: 3 / 4;
        grid-column: 1 / span 1;
    }
    #home .h-r-text p{
        display: flex;
        flex-direction: column;
    }
    #home .h-r-text a{
        font-size: 15px;
    }
    #home .h-r-text i{
        font-size: 15px;
    }
    #home img{
        width: 13rem;
        grid-row: 3 / -1;
        grid-column: 1 / span 1;
        justify-self: right;
        z-index: -1;
        margin-right: -2.3rem;
    }
    /* -- skills section ---------- */

    #skills{
        height: auto;
    }
    #skills .skills-upside{
        flex-direction: column;
    }
    #hobbies{
        margin-top: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #hobbies div{
        margin: 1rem 0;
    }
    /* -- language section ---------- */
    .l-icons{
        height: auto;
        padding: 15px 0;
        background: var(--bg-secondary);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .l-icons div{
        margin: 0;
        padding: 0;
    }
    .l-icons div i{
        margin: 10px;
    }
    .l-icons .row-1{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    .l-icons .row-2{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    .l-icons .row-1 i:nth-child(1){
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }
    .l-icons .row-1 i:nth-child(2){
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }
    .l-icons .row-1 i:nth-child(3){
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
    }
    .l-icons .row-1 i:nth-child(4){
        grid-row: 4 / span 1;
        grid-column: 2 / span 1;
    }
    .l-icons .row-2 i:nth-child(1){
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }
    .l-icons .row-2 i:nth-child(2){
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }
    .l-icons .row-2 i:nth-child(3){
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
    }
    .l-icons .row-2 i:nth-child(4){
        grid-row: 4 / span 1;
        grid-column: 2 / span 1;
    }
    /* -- footer section ------------- */
    footer{
        background: none;
    }
}